body {
  color: #000;  
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;  
}

.well {
  
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px !important;
    border-top-color: rgba(33, 150, 243, 0.5) !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-right-color: rgba(33, 150, 243, 0.5) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
}

.form-control {
  
        background-color: #ffffff !important;
        color: #000000 !important;
}

